 footer {
            background-color: #282828 !important;
            color: #ccc;
            padding: 40px 0 20px;
            font-size: 14px;
        }
        footer a {
            color: #58a1ff;
            text-decoration: none;
        }
        footer a:hover {
            text-decoration: underline;
        }
        .footer-links > ul {
            list-style: none;
            padding-left: 0;
        }
        .footer-links > ul > li {
            padding: 5px 0;
            border-bottom: 1px dotted #555;
        }
        .footer-social i {
            margin-right: 10px;
            color: #ccc;
            cursor: pointer;
        }
        .footer-social i:hover {
            color: #58a1ff;
        }